**/API_keys
**/drafts_private
**/.python-version
**/.ruff_cache/
__pycache__/
*.pyc
.env
.env.*
!.env.example
**/.agents/
**/.codex/
**/.pytest_cache/
**/.env.prod
**/legacy/
.vscode/*
!.vscode/settings.json